image: node:latest  # Altere para uma imagem que tenha Node.js e npm

stages:
  - build
  - test
  - deploy

include:
  - local: 'ci/test-job.yml'
  - local: 'ci/build-job.yml'
  - local: 'ci/deploy-job.yml'

before_script:
  - npm install  # Instala dependências antes de cada job

build:
  stage: build
  script:
    - echo "Building the project..."
    - npm ci  # Instala dependências com npm ci

# Continue com os outros jobs...